@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
 
body {
    background-color: #696969 !important	;
}

.nav justify-content-end {
   color: #fd7e14 !important; 
}


.top-container{
    color: #fd7e14 !important;
    display: block;
    width: 60px;
    margin: 0;
    padding: 0;
}


h2 {
    color: #000000;
    font-size: xx-large;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0px;
    padding: 0px;
}

.footer {
    bottom : 0;
    height : 20px;
    margin-top : 20px;
    width: 100%;
    position: grid;
    text-align: center;
    display: block;
    color: #fd7e14 !important;
}

 media-query {
    max-width: 1024px;
}

.box {
    background-color: darkgrey ;
    width: 600px;
    float: right;
    padding-right: 5%;
    border: 5px solid gray;
    margin: 50;
    height: 1000%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 200%;
}

.image {
    flex-basis: 100%;
    padding-right: 20%;
}

.text {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    background-color: #fd7e14;

}
