@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap:100,200,300,400,500,600,700,');
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap:100,200,300,400,500,600,700,');

body {
    background-color: #fff;
    overflow-x: none;
}

/* ---------------------------------------------- navbar */

nav {
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 400;
    font-size: 25px;
}

/* ---------------------------------------------- footer */

footer {
    background-color: #DCDCDC;
     max-height: 72px;
}

#footer-content {
    font-family: "PT Sans", sans-serif ;
    text-align: center;
}

/* ---------------------------------------------- career */

.media {
    max-width: 200%;
    max-height: 200%;
    position: relative;
    padding-top: 8%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
    margin-left: 20px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.media-body {
    text-align: center;
    top: 140%;
}

img {
    width: 15%;
    height: 15%;
    padding-top: 25px ;
}

image {
    top: 15%;
    left: 10%;
    position: absolute;
    width: 15%;
    height: 25px;
    border-radius: 25px;
}

.boxed {
    box-align: left;
    position: relative;
}

.wrapper {
    text-align: center;
}

h4 {
    padding-top: 90px;
    padding-left: 150%;
    text-align: center;
}

#div1 {
    top: 55%;
    left: 10%;
    width: 50%;
    height:50%;
    float: left;
}
#div2 {
    text-align: center;
}

#div3 {
    width: 800px;
    height:50%;
    vertical-align: middle;
    margin: 0 auto;
}
/* ---------------------------------------------- about me */

#box {
    text-align: center;
    padding-top: 90px;
    padding-right: 8%;
}

h2 {
    text-align: left;
    padding: 2%;
}

.img {
    padding-left: 2%;
    align-items: left;
}

p {
    padding-left: 2%;
    padding-right: 2%;
    font-family:  "PT Sans", sans-serif;
}
/* ---------------------------------------------- contact */

h5 {
    text-align: center;
    color: #000000;
    font-family:  "PT Sans", sans-serif;
    font-weight: 200;
    font-size: 25px;
}
