@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
 
.nav justify-content-end {
   color: #fd7e14 !important; 
}

.top-container{
    color: #fd7e14 !important;
    display: block;
    width: 60px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #a9a9a9 !important	;
}

h2 {
    color: #ffffff;
    font-size: xx-large;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0px;
    padding: 0px;
}

.row {
    padding: 0px;
    margin: 0;
    width: 100%;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    margin-top: 0px;
    margin-right: 1em

}

.center {
    padding: 0px;
    margin: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin-top: 0px;
    margin-right: 1em
}

a:hoover {
    background-color: #f8f9fa;

}

#footer {
    bottom : 0;
    height : 20px;
    margin-top : 20px;
    width: 100%;
    position: grid;
    text-align: end;
}

span {
    color: #fd7e14;
    font-weight: 100%;
}

.social-networks {
    color: #fd7e14 !important;
    text-align: end;
}

 media-query {
    max-width: 1024px;
}

.box {
    background-color: darkgrey ;
    width: 600px;
    float: right;
    padding-right: 5%;
    border: 5px solid gray;
    margin: 50;
    height: 1000%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 200%;
}

.image {
    flex-basis: 100%;
    padding-right: 20%;
}

.text {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}
