@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap:100,200,300,400,500,600,700,');

.body {
    background-color: #676767;
    overflow-x: hidden;
}
/* ---------------------------------------------- navbar */

nav {
    color: #000000;
}
/* ---------------------------------------------- footer */

.navbar-fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 85px; 
    padding-left: 20px;
}

footer {
    margin: 0;
    min-height: 120px;
}
.list-inline-item {
    display: inline-block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    display: inline-block;
}

ul {
    list-style-type: disc;
}

#footer-content {
    text-align: center;
    font-family: "PT sans narrow", sans-serif;
}

.general-sub {
    font-family: "PT sans narrow", sans-serif ;
    font-weight: 300;
}

.cv-pdf {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* ---------------------------------------------- contact */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    padding-left: 0;
}

h5 {
    text-align: center;
}

