@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body {
    background-color: #696969 !important;
    overflow-x: hidden;
}

#footer {
    color: #fd7e14;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px; 
    background-color: #a9a9a9;
}
<!------------------------------------------index>


.boxed {
    border: 15px solid orange;
}
.image {
    max-width: 200%;
    max-height: 100%;
    position: relative;
    border: 15px solid orange;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #fd7e14;
}

img {
    width: 18%;
    height: 20%;
    padding: 8px;
}


<!------------------------------------------resume>

.wrapper {
    display:grid;
}

#div1 {
    top: 30%;
    left: 10%;
    position: absolute;
    width: 50%;
    height:50%;
}

#div2 {
    top: 55%;
    left: 10%;
    position: absolute;
    width: 50%;
    height: 50%;
}

#div3 {
    top: 30%;
    left: 55%;
    position: absolute;
    width: 50%;
    height: 50%;
}

#div4 {
    top: 100%;
    left: 55%;
    position: absolute;
    width: 50%;
    height: 50%;
}

ul {
    list-style: none;
}

<!------------------------------------------contact>

.box {
    border: 15px solid orange;
}
.image1 {
    top: 30%;
    left: 10%;
    position: relative;
    width: 100%;
    height: 100%;
    border: 15px solid orange;
    background-color: #fd7e14;
}